@page "/account/new"
@inject NavigationManager NavManager
@inject IAceitarConviteClient AceitarConviteClient

<PageTitle>Aceitar Convite</PageTitle>

<div class="row justify-content-center mt-2">
    <div class="col-auto">
        <img id="img-logo" src="images/logo-loading.png" />
    </div>
</div>

@if (_stage == AceitarConviteStage.InformarDados)
{
    <EditForm Model="_model" OnValidSubmit="ContinueFromInformarDados">
        <FluentValidationValidator />
        <div class="row text-center mt-3 justify-content-center">
            <div class="col-11">
                <span class="fw-bold fs-3">Novo Usuário</span>
            </div>
        </div>
        <div class="row text-center mt-2 mb-3 justify-content-center" hidden="@(_errorMessage == null)">
            <div class="col-11 text-danger">
                @_errorMessage
            </div>
        </div>
        <div class="row mt-2 mb-3 justify-content-center">
            <div class="col-11">
                <div class="row gy-3">
                    <div class="col-sm-6">
                        <label for="primeiroNome" class="form-label">Primeiro Nome</label>
                        <InputText class="form-control tc-primeiro-nome" id="primeiroNome" @bind-Value="_model.PrimeiroNome"></InputText>
                        <ValidationMessage For="@(() => _model.PrimeiroNome)" />
                    </div>
                    <div class="col-sm-6">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <InputText class="form-control tc-sobrenome" id="sobrenome" @bind-Value="_model.Sobrenome"></InputText>
                        <ValidationMessage For="@(() => _model.Sobrenome)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-11">
                <label for="nomeUsuario" class="form-label">Nome de usuário</label>
                <InputText class="form-control tc-nome-usuario" id="nomeUsuario" @bind-Value="_model.NomeUsuario"></InputText>
                <ValidationMessage For="@(() => _model.NomeUsuario)" />
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <div class="col-11">
                <div class="row gy-3">
                    <div class="col-sm-6">
                        <label for="senha" class="form-label">Senha</label>
                        <InputText type="password" class="form-control tc-senha" id="senha" @bind-Value="_model.Senha"></InputText>
                        <ValidationMessage For="@(() => _model.Senha)" />
                    </div>
                    <div class="col-sm-6">
                        <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
                        <InputText type="password" class="form-control tc-confirmar-senha" id="confirmarSenha" @bind-Value="_model.ConfirmarSenha"></InputText>
                        <ValidationMessage For="@(() => _model.ConfirmarSenha)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mb-4 justify-content-center">
            <div class="col-11">
                @if (!_loading)
                {

                    <button type="submit" class="btn btn-primary w-100 btn-lg tc-continuar">Continuar</button>
                }
                else
                {
                    <button class="btn btn-primary w-100 btn-lg" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Processando
                    </button>
                }
            </div>
        </div>
    </EditForm>
}
else
{
    <div class="row text-center mt-3 mb-3 justify-content-center">
        <div class="col-10">
            <span class="fs-6 tc-successo">O usuário <strong>@_model.NomeUsuario</strong> foi adicionado à base de dados do Pulsar.</span>
        </div>
    </div>
    <div class="row text-center mb-4 justify-content-center">
        <div class="col-10">
            <button type="submit" class="btn btn-primary btn-lg w-100">Continuar</button>
        </div>
    </div>
}
